<%= form_for(@my_customer) do |f| %>
  <% if @my_customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@my_customer.errors.count, "error") %> prohibited this my_customer from being saved:</h2>

      <ul>
      <% @my_customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_area :number %>
  </div>
  <div class="field">
    <%= f.label :tradeable_id %><br>
    <%= f.number_field :tradeable_id %>
  </div>
  <div class="field">
    <%= f.label :tradeable_type %><br>
    <%= f.text_area :tradeable_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
